<div class="flex flex-wrap justify-center m-2">
    <div class="col-4 m-4" *ngFor="let filter of filters">
        <app-button-filter [label]="filter.label" [filter]="filter.value" (filterApplied)="onFilterApplied($event)">
        </app-button-filter>
    </div>
</div>
<div class="flex flex-wrap justify-center">
    <div class="flex flex-wrap justify-center  gap-3">
        <div class="col-4" *ngFor="let movie of filteredMovies">
            <app-movie-card [movie]="movie"></app-movie-card>
        </div>
    </div>
</div>